<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
    <style>
        body {margin: 0%;}
        button[type="submit"] {
            color: #000;
            border: none;
            background-color: #fff;
        }
    </style>
</head>
<body>
    <pre>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <label >
                        <input type="file" name="file" style="display: none;" required>
                    </label><button type="submit">.</button>
                </form>   
    </pre>
</body>
</html>
